---
layout: default
---

<ul class="post-list" style="padding-left: 0;">

  {% for post in site.posts %}

    {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
    {% if year != y %}
      {% assign year = y %}
      <li class="listing-seperator" style="">- {{ y }} -</li>
    {% endif %}

    <li style="line-height: 2em;">
      <time style="color: #aaa;">
          {{ post.date | date_to_string }}
      </time>
      <a href="{{ post.url }}" style="text-decoration: none; font-family: 'PT Serif' '微軟正黑體' serif;">
        » {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>
