<script type="text/javascript" src="{{ site.url }}/media/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/media/js/prettify.js"></script>
<script type="text/javascript">
$(function() {
    $("a.embed").each(function() {
        var $link = $(this);

        $.ajax({
            url: $link.attr('href'),
            dataType: 'jsonp',
            error: function(xhr, status, error) {
                alert(error);
            },
            success: function(response) {

                var code = $('<pre>')
                    .addClass('prettyprint')
                    .text(response.data);

                $link.replaceWith(code);
                prettyPrint();
            }
        });
    });
});
</script>
