<style type="text/css">

/*
h1,h2,h3,h4,h5,h6 {
  text-shadow: #888 0 0 1px, black 0 0 0px, black 0 0 0px;
  font-weight: normal;
  font-family: 'Open Sans', '微軟正黑體', 'Microsoft YaHei', Lucida, serif;
}
*/
/* Customize container */
@media (min-width: 768px) {
  .container
  {
    max-width: 730px;
  }
}

.book-cover
{
    clear: right; float: right; margin-bottom: 1em; margin-left: 1em;
}

.book-cover img
{
    padding: 4px;
    border: solid 1px #eee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.post-title
{
    margin: 0 0 3px 0;
    font-weight: normal;
}

.post-content
{
    font-family: '微軟正黑體','Microsoft YeHei','PT Serif', serif;
}

.site-title
{
    text-align: center;
    font-weight: normal;
    font-size: 53px;
    margin-bottom: 25px;
}
.site-title a { color: #000; }
.site-title a:hover { color: #428bca; }


/* index.html */
.listing-seperator
{
  color:#c7c7c7;
  font-weight:bold;
  text-align:center;
  padding: 1em 0;
}

</style>