<style type="text/css">

/*
h1,h2,h3,h4,h5,h6 {
  text-shadow: #888 0 0 1px, black 0 0 0px, black 0 0 0px;
  font-weight: normal;
  font-family: 'Open Sans', '微軟正黑體', 'Microsoft YaHei', Lucida, serif;
}
*/

.book-cover {
    clear: right; float: right; margin-bottom: 1em; margin-left: 1em;
}
.book-cover img {
    padding: 4px;
    border: solid 1px #eee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.post-title {
    margin: 0 0 3px 0;
    font-weight: normal;
}

.post-content {
    font-family: '微軟正黑體','Microsoft YeHei','PT Serif', serif;
}
</style>