<style type="text/css">

body
{
  font-size: 16px;
  background-image:url('/ico/wavegrid.png');
}
/*
h1,h2,h3,h4,h5,h6 {
  text-shadow: #888 0 0 1px, black 0 0 0px, black 0 0 0px;
  font-weight: normal;
  font-family: 'Open Sans', '微軟正黑體', 'Microsoft YaHei', Lucida, serif;
}
*/
/* Customize container */
@media (min-width: 768px) {
  .container
  {
    max-width: 730px;
  }
}

.book-cover
{
    clear: right; float: right; margin-bottom: 1em; margin-left: 1em;
}

.book-cover img
{
    padding: 4px;
    border: solid 1px #eee;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.post-title
{
  font-weight: normal;
  text-shadow: #888 0 0 1px, black 0 0 0px, black 0 0 0px;
  font-family: "Lora",Georgia,"Times New Roman",Times,'微軟正黑體','Microsoft YaHei',serif;
  margin-bottom: 70px;
}

.post-content
{
  font-family: '微軟正黑體','Microsoft YeHei','PT Serif', serif;
  line-height: 1.75em;
  color: #000;
  font-size: 18px;
}

.post-content p
{
  margin: 1em 0;
}

.site-header
{
  /*background: #ddd;*/
  opacity: 0.7;
  padding: 20px 20px;
  border-bottom: solid 1px #ccc;
}

.site-title
{
  font-family: '微軟正黑體','Microsoft YeHei','PT Serif', serif;
  font-weight: normal;
  font-size: 26px;
}
.site-title a { color: #000; }
.site-title a:hover { color: #428bca; }

.site-nav
{
  padding-top: 20px;
}

.site-nav a
{

}

.site-container
{
  margin-top: 40px;
}

/* index.html */

.index-post-list
{
}

.index-post-list h3
{
  font-size: 20px;
  margin-top: 0;
  /* text-shadow: #888 0 0 1px, black 0 0 0px, black 0 0 0px; */
  font-weight: normal;
  font-family: "Lora",Georgia,"Times New Roman",Times,'微軟正黑體','Microsoft YaHei',serif;
}

.listing-seperator
{
  color:#c7c7c7;
  font-weight:bold;
  text-align:center;
  padding: 1em 0;
}

pre.prettyprint
{
  font-size:13px;
  font-family: Menlo, Consolas, Monaco, "Courier New", mono;
}
</style>
