<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

	<title>{{ site.name }}</title>

    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' type='text/css'>

	<link href="{{ site.url }}/media/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ site.url }}/media/css/print.css" rel="stylesheet" type="text/css" media="print">

    <script type="text/javascript" src="{{ site.url }}/media/js/jquery-1.7.1.min.js"></script>
    <style type="text/css">@media print { #feedlyMiniIcon { display: none; } }</style>
</head>
<body>
    <div class="container">
        <div id="header" class="column first last span-20">
            <h1 id="site-name" class="column first span-5 prepend-1 append-1">
                <a href="{{ site.url }}">{{ site.name }}</a>
            </h1>
            <div id="primary" class="column span-13 last">

                {% include nav.md %}

            </div>
            <div id="secondary" class="column span-18 append-1 prepend-1 first last">

            </div>
        </div>

    <div id="main" class="column first last span-18 prepend-1 append-1">

        {{ content }}

        <!--
        <div class="note column span-16 first last">
            <b>Edit This Site</b><br>
            The source code to this site is <a href="https://github.com/aaronpk/oauth.net">available on Github</a>.
			Feel free to submit pull requests with changes!
        </div>
        -->
    </div>
</div>

{% include analytics.html %}

</body>
</html>