<!DOCTYPE html>
<html>
<head>
    <base href="{{ site.url }}">
    <title> {% if page.title != null %} {{ page.title }} {% endif %} - {{ site.name }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load: css -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' />
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/prettify.css" />

    <link rel="alternate" type="application/rss+xml" href="feed.xml" title="調和的靈感 RSS 2.0 feed" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="shortcut icon" href="assets/ico/favicon.png" type="image/png" />
    <link rel="icon" href="assets/ico/favicon.png" type="image/png" />

    <!-- Put the following javascript before the closing </head> tag. -->
    <script>
      (function() {
        var cx = '000170238547671669370:begaamuplje';
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
      })();
    </script>
</head>

<body>

    <div class="container main">
        <div class="row">

            <!-- siedbar: open -->
            <div class="span3">
                {% include sidebar.html %}
            </div>
            <!-- siedbar: close -->

            <!-- content: open -->
            <div class="span9">

                <div class="main-content">
                {{ content }}
                </div>
            </div>
            <!-- content: close -->

        </div>
    </div>

    <div class="containter" style="text-align:center;color:#aaa;margin:20px auto;">
        <span>Hosted on GitHub Pages — Theme by <a href="https://github.com/orderedlist">orderedlist</a></span>
    </div>

    {% include analytics.html %}

    <!-- load: js libraries -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/prettify.js"></script>
    {% include bitbucket.html %}
</body>

</html>