---
layout: default
---
<!--
<a class="category">{{ page.category }}</a>
<time><span>Published on </span>{{ page.date | date_to_string }}</time>
-->

<div class="row main-content">
    <article>
      <div class="text-muted">{{ page.date | date_to_string }}</div>
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-content">

        {{ content }}

      </div>

      <footer>
        Tags: {{ page.tags }}
      </footer>
    </article>

    <div style="border-bottom: solid 1px #bbb; margin:20px 0;"></div>

    {% include disqus.html %}
</div>




